* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: Verdana, sans-serif;
  background: rgb(210, 232, 113);
  background: linear-gradient(
    90deg,
    rgba(210, 232, 113, 1) 20%,
    rgba(215, 233, 200, 1) 73%,
    rgba(177, 223, 232, 1) 100%
  );
}

h1 {
  font-style: italic;
  text-align: center;
  font-size: 20px;
  margin: 3%;
  border-radius: 15px;
  background: white;
}

.pokemon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  border-radius: 15px;
  background: white;
  width: 90%;
  margin: auto;
  margin-top: 10%;
  padding-bottom: 15%;
  text-align: center;
  font-size: 30px;
}

#description {
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  background: rgb(210, 232, 113);
  background: linear-gradient(
    90deg,
    rgba(210, 232, 113, 1) 20%,
    rgba(215, 233, 200, 1) 73%,
    rgba(177, 223, 232, 1) 100%
  );
  padding: 6%;
  width: 90%;
  text-align: left;
  vertical-align: center;
}

#image_pokemon {
  max-width: 100%;
  text-align: center;
}

#name {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15%;
}

#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 1%;
  margin: 1%;
  margin-top: 8%;
  margin-bottom: 40%;
  background-color: transparent;
}

/* BUTTON RIGHT*/
#button_right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid black;
  margin-left: 1em;
}

/*BUTTON LEFT*/
#button_left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid black;
  margin-right: 1em;
}
