* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* height: max-content; */
}

body {
  height: 100%;
  height: max-content;
  font-family: Verdana, sans-serif;
  /* font-size: 100%; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

main {
  width: 100%;
  flex: 1;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center; */
  background-color: white;
}

#fond_rouge_blanc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.pokemon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-style: solid;
  border-width: 5px;
  color: black;
  background-color: white;
  max-width: 80%;
  /* height: 160px; */
  /* height: auto; */
  /* margin: 10% 5% 10% 5%; */
  /* padding: 60% 5% 60% 5%; */
  margin: auto;
  margin-top: 5%;

  padding-bottom: 5%;
  text-align: center;
  font-size: 30px;
}

/*cadre height_weight*/
#height_weight {
  border-style: solid;
  border-width: 5px;
  color: black;
  padding: 5%;
  margin: auto;
  max-width: 80%;
}
/*text height et weigth*/
#height,
#weight {
  vertical-align: center;

}
#image_pokemon {
  width: 300px;
  height: auto;
}
#name {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10%;
}


#fond_rayures {
  z-index: 2; /* fond_rouge au-dessus de fond blanc */
  background: repeating-linear-gradient(
    -45deg,
    red,
    red 5px,
    white 5px,
    white 15px
  );
  border-bottom: 5px solid black;
  width: 100%;
  height: 20em;
}

#fond_blanc {
  z-index: 1;
  height: 16em;
}

#buttons {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  margin-top: 10%;
}

/*BUTTON RIGHT*/
#button_right{
    flex: 1;
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 80px solid red;
    margin-left: 1em;
}

/*BUTTON LEFT*/
#button_left {
    flex: 2;
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    border-right:80px solid red;
    margin-right: 1em;

}
/*******************************************/

@media /*screen*/ all and (max-width: 500px) {
}

/*******************************************/

/*tablet :on screens that are min 376px, set the followings*/
/* @media screen and (max-width: 1094px) and (min-width: 834px) { */
  /* .pokemon {
    border-width: 8px;
    font-size: 35px;
  }
  #image_and_name {
    margin: 0;
    padding: 0;
  }
  #image_pokemon {
    width: 400px;
    height: auto;
  }
  #name {
    font-size: 45px;
  }
  #fond_rayures {
    background: repeating-linear-gradient(
      -45deg,
      red,
      red 7px,
      white 5px,
      white 23px
    );
    border-bottom: 8px solid black;
    height: 26em;
  }
  #fond_blanc {
    height: 28em;
  }
  */

/****************************************************/

/*desktop: on screens that are 1094px or more, set the followings */
@media screen and (min-width: 1094px) {
  /* .pokemon {
    width: min-content;
    font-size: 40px;
    border: 8px solid black;
  }
  #image_pokemon {
    width: 500px;
  }
  #name {
    font-size: 55px;
  }
  #fond_rayures {
    background: repeating-linear-gradient(
      -45deg,
      red,
      red 7px,
      white 5px,
      white 23px
    );
    border-bottom: 8px solid black;
    height: 38em;
  }
  #fond_blanc {
    height: 17em;
  }
 
} */